//
// Badge
//

@import 'badges/badge';
@import 'badges/badge-circle';
@import 'badges/badge-dot';

.badge-info {
  background-color: $info;
  color: white;
}

.badge-success {
  background-color: $success;
  color: white;
}
