.noty_body {
  padding: $alert-padding-y $alert-padding-x;
  padding-right: 2rem;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

@each $color, $value in $theme-colors {
  .noty_type__#{$color} .noty_body {
    @include alert-variant(
      theme-color-level($color, $alert-bg-level),
      theme-color-level($color, $alert-border-level),
      theme-color-level($color, $alert-color-level)
    );
    font-weight: 500;
    color: white;
  }
}

.noty_close_button {
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: transparent;
  font-weight: 400;
  font-size: rem(15px);
  font-size: 1.7rem;
  line-height: 2rem;
}
