// This variable affects the `.h-*-px`, `.w-*-px, `.min-w-*-px and `.min-h-*-px` classes.
$px-sizes: (
  50: 50px,
  100: 100px,
  180: 180px,
  200: 200px,
  400: 400px,
  600: 600px,
  800: 800px,
);

// Width and height
// Examples: .w-md-100-px, .h-sm-50-px, .min-w-100-px, .min-h-lg-100-px
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop,
      $abbrev in (width: w, height: h, min-width: min-w, min-height: min-h, max-width: max-w, max-height: max-h)
    {
      @each $size, $length-px in $px-sizes {
        .#{$abbrev}#{$infix}-#{$size}-px {
          #{$prop}: $length-px;
        }
      }
    }
  }
}

.max-vw-100 {
  max-width: 100vw;
}

.min-vh-100 {
  min-height: 100vh;
}
