html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.tab-content {
  background-color: #f8f9fe;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 0 0 0.4375rem 0.4375rem;
}
